<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style src = "./inicio.component.css"></style>
  <title>Inicio</title>
</head>
<app-nav-bar></app-nav-bar>
<body>
  <div class="container">
    <div class="logo">
      <img src="/src/assets/Image/logoUMG.png" alt="Logo SIM'24">
    </div>
    <div class="title" data-text="SIM'24">SIM'24</div>
    <div class="edition" data-text="VI EDICION">VI EDICION</div>
    <div class="slogan">"Innovar, conectar, transformar: la próxima era tecnológica empieza aquí"</div>
    <div class="date">16 Septiembre 8:00 hrs</div>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-outline-success">sobre nostros</button>
    <button type="button" class="btn btn-outline-success">Participa aquí</button>
  </div>
  <div class="sections-container">
    <div class="section" id="section1">
      <div class="title">¿Quienes somos?</div>
      <p>Contenido de la sección 1...</p>
    </div>
    <div class="section" id="section2">
      <h2 class="title">Sección 2</h2>
      <p>Contenido de la sección 2...</p>
    </div>
    <div class="section" id="section3">
      <h2>Sección 3</h2>
      <p>Contenido de la sección 3...</p>
    </div>
  </div>
  
</body>
</html>
